.product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  padding: 1.3rem;

  &:hover {
    transform: scale(1.05);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.buttonBuy {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%; /* Reduzi um pouco para dar espaço ao botão de salvar */
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #45a049;
  }
}


.imageProduct {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.nameTitle {
  font-size: 18px;
  margin: 10px 0;
  color: black;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.description {
  font-size: 14px;
  width: 100%;
  margin: 1rem 0 1rem;
}

.price {
  font-size: 14px;
  margin: 1rem 0 1rem;
  font-weight: bold;
  color: #002a7d;
  text-align: center;
}

/* .buttonSave {
  --color: #a5a5b0;
  --size: 30px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.buttonSave input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.buttonSave .save-regular,
.buttonSave .save-solid {
  position: absolute;
  animation: keyframes-fill 0.5s;
  transform-origin: top;
}

.buttonSave input:checked + .save-regular {
  display: none;
}

.buttonSave input:checked + .save-solid {
  display: block;
} */
