.card {
  width: 250px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #00de59;
  color: #2b2b2b;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover{
  background-color: #00a843;
  color: rgb(30, 30, 30);
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 190px;
  margin-bottom: 100px;
  margin-top: 4%;
}

.title {
  color: #232323;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 1px 0px 1px #2c5867;
}

.title-card{
  font-size: 20px;
  margin-top: 0.4rem;
}



.lugarDonaLindu{
font-size: 0.9rem;
  margin-top: 0.9rem;
}

.lugarGris{
font-size: 0.9rem;
  margin-top: 2rem;
}

.lugarUfpe{
font-size: 0.9rem;
  margin-top: 0.5rem;
}

.lugarCufa{
font-size: 0.9rem;
  margin-top: 0.5rem;
}

.lugarPrefeitura{
font-size: 0.9rem;
  margin-top: 0.8rem;
}

.lugarOab{
font-size: 0.9rem;
  margin-top: 0.8rem;
}
